
<div class="bg-info h-100 ">
    <h1 class="text-light text-center">Get Notified Every New Job</h1>
                <p class="text-light text-center fs-5">Ideal platform for job seekers passionate about startups and
                    <br>seeking new career opportunities.
                </p>
                <div class="d-flex bg-body m-auto w-50 p-3 rounded mb-5">
                    <div class="form-outline w-100 ">
                        <input type="text" class="form-control  m-auto w-125 border-0" placeholder="Type your email">
                    </div>
                    <div>
                        <button class="btn  bg-info justify-content-end text-light" type="button">Subscribe</button>
                    </div>
                </div>
            </div>