<div class="row">
    <div class="col-3">
        <h2>Hire Me Now!</h2>
        <br>
        <p>Ideal platform for joobseekers<br>passionate about startups and<br>seeking new career
            opportunities.</p>
        <br>
        <p class="d-sm-flex">
            <img src="../../assets/images/youtube.png">
            <img src="../../assets/images/instagram.png" class="ms-sm-4">
            <img src="../../assets/images/twitter icon.png" class="ms-sm-4">
            <img src="../../assets/images/linkedin icon.png" class="ms-sm-4">
            <img src="../../assets/images/facebook icon.png" class="ms-sm-4">
        </p>
    </div>
    <div class="col-2">
        <h5>About Us</h5>
        About us<br>
        Home<br>
        Feature<br>
        Team
    </div>
    <div class="col-2">
        <h5>Company</h5>
        Contact us<br>
        Career<br>
        Pricing<br>
        Blog

    </div>
    <div class="col-2">
        <h5>Service</h5>
        Support<br>
        Privacy<br>
        FAQ
    </div>
    <div class="col-2">
        <h5>Support</h5>
        SEO<br>
        UI Design<br>
        Developer<br>
        Accountant
    </div>
</div>
