<div class="container">
    <div class="row bg-white p-4">
        <div class="col ">
            <a href="#" class=" d-flex header">
                <h3 >All Jobs</h3>
                <h3 class=" pl-4">Saved Jobs </h3>
            </a>
        </div>
        <div class="col d-flex flex-row-reverse pl-4">
            <h5 class="pl-5">Lesile Alexander</h5>
            <img src="../../assets/images/Ellipse 2.png" alt="" class="pl-5">
            <h3 class="pl-5"><i class="bi bi-bell-fill"></i></h3>
        </div>
    </div>
</div>
