<div class="container-fluid ">
    <div class="">
      
            <div class=" bg-info text-center hei  ">
                <h3 class="text-white pt-5">Hire Me Now !</h3>
                <img src="../../assets/images/Ellipse 1.png" alt="" class="pt-5">
                <p class="openToWork m-auto rounded-pill ">Open To Work</p>
                <p>Leslie Alexander</p>
                <p>alexanderleslie@mail.com</p>
               
                <ul class="list-unstyled   ">
                    <li class="">
                        <a href="#" class=" align-middle link  ">
                            <i class="   bi-grid-fill text-white p-2"></i>
                            <p class=" d-sm-inline  d-none  text-white">Dash Board</p></a>
    
                    </li>
                    <li class="py-3">
                        <a href="#" class=" align-middle link  ml-3">
                            <i class="bi-grid-fill text-white"></i>
                            <p class=" d-sm-inline  d-none  text-white"> My Applications</p></a>
    
                    </li>
                    <li class="pt-3">
                        <a href="#" class=" align-middle link  ">
                            <i class="  bi-grid-fill text-white"></i>
                            <p class="pr-3 d-sm-inline  d-none  text-white"> Messages</p></a>
    
                    </li>
                    <li class="pt-3">
                        <a href="#" class=" align-middle link  ">
                            <i class="  bi-grid-fill text-white"></i>
                            <p class=" pr-5 d-sm-inline  d-none  text-white"> Profile</p></a>
    
                    </li>
                    <li class="pt-3">
                        <a href="#" class=" align-middle link  ">
                            <i class=" pr-2 bi-grid-fill text-white"></i>
                            <p class="pr-4 d-sm-inline  d-none  text-white"> Settings</p></a>
    
                    </li>
                </ul>
          
            
        </div>

        </div>
        
</div>